@charset "utf-8";

// @import "./reset.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
