@import "../../static//styles/index.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 100%;
  min-width: 768px;
  height: 72px;
  background-color: $w-100;
  border-bottom: 1px solid $g-015;
  z-index: 999;
}

.l-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-menu-btn {
  width: 60px;
  height: 100%;
  background-image: url("../../static/images/ic_menu_gray.svg");
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999em;

  &:hover {
    background-image: url("../../static/images/ic_menu_green.svg");
  }
  &.active {
    background-image: url("../../static/images/ic_menu_green.svg");
  }
}

.r-wrap {
  height: 100%;
  display: flex;
  align-items: center;

  li {
    height: 100%;
    position: relative;
  }
}

.title {
  // TODO: font 재적용 후 수정해야함
  font-weight: 400;
  color: $mg-100;
}

.contact-btn {
  width: 60px;
  height: 100%;
}
.option-btn {
  width: 60px;
  height: 100%;
  border-left: 1px solid $g-015;
  border-right: 1px solid $g-015;
}
.user-menu-btn {
  width: auto;
  min-width: 120px;
  height: 100%;
  padding: 0 36px;
}

.action-panel {
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #354052;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;

  &.active {
    top: 72px;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  li {
    height: 50px;
    padding: 0 16px;

    & > a {
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 1px solid $g-015;
    }

    &:last-child {
      & > a {
        border-bottom: 0;
      }
    }
  }
}
